.nav-wrapper {
    display: flex;
    justify-content: space-around;
    height: 60px;
    
    .nav-link-wrapper{
        
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;
        text-transform: uppercase;
        font-size: 3.5rem;
        margin: 15px 0;

        a {
            color: $link-color;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $hover-color;
                border-bottom: 1px solid $hover-color;
            }
        }

        .page-active {
            color: $hover-color;
            border-bottom: 1px solid $hover-color;
        }
    }
}