.game-wrapper {
    font-family: $game-font;
    font-size: 3rem;
    display: grid;
    grid-template-columns: [s] 2fr [m] 1fr [e];
    grid-column-gap: 15px;
    
    .left-side{
        grid-column: s/m;
        grid-template-rows: [name-s] 60px [name-e output-s] 1fr [output-e input-s] 60px [input-e];


        .btn-output {
            display: grid;
            grid-row: input-s/input-e;
            grid-template-columns: repeat(4, auto);
            grid-gap: 15px;
            padding: 25px 15px;

            .btn {
                font-family: $game-font;
                font-size: 2rem;
                background-color: $hover-color;
                color: black;
                padding: 5px;

                &:hover {
                    opacity: .75;
                    color: white;
                }
            }
        }
        
           
    }

    .right-side{
        grid-column: m/e;
        grid-template-rows: [inv-s] 60px [inv-e invout-s] 1fr [invout-e];
        grid-row-gap: 5px;


        .game-inventory{
            grid-row: inv-s/inv-e;
            text-align: center;

            h2 {
                margin: 10px 0;
            }
        }

        .inventory-output{
            grid-row: invout-s/invout-e;
            height: 452px;
            border: 2px solid $main-color;
            background-color: black;
            overflow-y: auto;
        }
    }
}